
.indexTopCard {
	background: #f9f6f6;
	padding: 2px 16px;
	border-radius: 100%;
	margin-right: 13px;
}
.root-cc{
	color: #ec843e;
}
.root-cg{
	color: #45a516;
}

.full_scren {
	position: fixed;
	z-index: 1111111111;
	width: 100%;
	background: #fff;
	height: 100%;
	top: 61px;
}
.full_scren img{
	margin-left: 32% !important;
	margin-top: 14%;
	width: 98px;
}
.tb-border{
	border-color: #ddd;
}
.product_img{
width:220px;
}
.showImage{
	width: 30%;
}